p {
  font-family: $font-neue-haas-regular;
  line-height: 1.3;

  @include fluid-size(font-size, 16px, 22px);

  &.right {
    text-align: right;
  }

  &.size-sm {
    @include fluid-size(font-size, 12px, 24px);
  }

  &.size-md {
    @include fluid-size(font-size, 16px, 30px);
  }

  &.size-lg {
    line-height: 1.2;

    @include fluid-size(font-size, 20px, 42px);
  }

  &.size-xl {
    @include fluid-size(font-size, 40px, 80px);

    line-height: 1.1;
  }
}

p.upper,
p .upper {
  text-transform: uppercase;
}

p.bold,
p b {
  font-family: $font-neue-haas-medium;
}

p a,
p .link {
  color: inherit;
  text-decoration: none;
  position: relative;

  &:after {
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: $color-black;
    height: 4px;
  }
}
