@font-face {
  font-family: "Neue Haas Unica Pro Medium";
  src:
    url("../assets/fonts/neue-haas-unica-pro/medium/NeueHaasUnicaPro-Medium.woff2") format("woff2"),
    url("../assets/fonts/neue-haas-unica-pro/medium/NeueHaasUnicaPro-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Neue Haas Unica Pro Regular";
  src:
    url("../assets/fonts/neue-haas-unica-pro/regular/NeueHaasUnicaPro-Regular.woff2") format("woff2"),
    url("../assets/fonts/neue-haas-unica-pro/regular/NeueHaasUnicaPro-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Neue Haas Unica Pro Light";
  src:
    url("../assets/fonts/neue-haas-unica-pro/light/NeueHaasUnicaPro-Light.woff2") format("woff2"),
    url("../assets/fonts/neue-haas-unica-pro/light/NeueHaasUnicaPro-Light.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Neue Plak Extended Bold";
  src:
    url("../assets/fonts/neue-plak/extended-bold/Neue Plak Extended Bold.woff2") format("woff2"),
    url("../assets/fonts/neue-plak/extended-bold/Neue Plak Extended Bold.woff") format("woff"),
    url("../assets/fonts/neue-plak/extended-bold/Neue Plak Extended Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Neue Plak Extended ExtraBlack";
  src:
    url("../assets/fonts/neue-plak/extended-extra-black/Neue Plak Extended ExtraBlack.woff2") format("woff2"),
    url("../assets/fonts/neue-plak/extended-extra-black/Neue Plak Extended ExtraBlack.woff") format("woff"),
    url("../assets/fonts/neue-plak/extended-extra-black/Neue Plak Extended ExtraBlack.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Neue Plak Extended Light";
  src:
    url("../assets/fonts/neue-plak/extended-light/Neue Plak Extended Light.woff2") format("woff2"),
    url("../assets/fonts/neue-plak/extended-light/Neue Plak Extended Light.woff") format("woff"),
    url("../assets/fonts/neue-plak/extended-light/Neue Plak Extended Light.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Neue Plak Extended Regular";
  src:
    url("../assets/fonts/neue-plak/extended-regular/Neue Plak Extended Regular.woff2") format("woff2"),
    url("../assets/fonts/neue-plak/extended-regular/Neue Plak Extended Regular.woff") format("woff"),
    url("../assets/fonts/neue-plak/extended-regular/Neue Plak Extended Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
