html,
#__nuxt,
#__layout {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  color: $color-black;
  background-color: $color-white;
  font-family: $font-neue-plak-extended-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

.font-neue-haas-medium {
  font-family: $font-neue-haas-medium;
}

.font-neue-haas-regular {
  font-family: $font-neue-haas-regular;
}

.font-neue-haas-light {
  font-family: $font-neue-haas-light;
}

.font-neue-plak-extended-bold {
  font-family: $font-neue-plak-extended-bold;
}

.font-neue-plak-extended-extra-black {
  font-family: $font-neue-plak-extended-extra-black;
}

.font-neue-plak-extended-light {
  font-family: $font-neue-plak-extended-light;
}

.font-neue-plak-extended-regular {
  font-family: $font-neue-plak-extended-regular;
}
